body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav.mb-3.mt-4 {
  border-bottom: 1px solid #c7c3c3;
  padding-bottom: 30px;
  width: 100%;
}

.container > h1 {
  margin-top: 10px;
}

.container > h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.mb-3.mt-4 {
  justify-content: space-between;
}

.carousel-control-prev, .carousel-control-next {
  width: 30% !important;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 610px !important;
  height: 100vh;
  padding-bottom: 45px;
}

/* Description */
.prompt {
  display: flex;
  width: 512px;
  white-space: nowrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.prompt > input {
  margin-right: 7px;
}

.mint-btn {
  width: fit-content;
}

/* IMAGE */
.image {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 90%;
  width: 512px;
  height: 512px;
  margin: 0 25px;
  border: 1px solid black;
  border-radius: 5px;

  overflow: hidden;
}

.image img {
  width: 512px;
  height: 512px;
  border-radius: 6px;
}

.image__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__placeholder p {
  margin: 0 10px;
}
